<section id='about' class='about-us'>
  <div class='abouttitle'>
    The Sudanese Society in Sweden, established in 2005, is dedicated to
    fostering a vibrant Sudanese community and preserving our rich cultural
    heritage while promoting social integration and empowerment. We create a
    welcoming space for all, supporting our members through various programs and
    events that celebrate and sustain our traditions.
  </div>
  <div class='abouttitle'>
    Guided by the values of respect, unity, inclusivity, and social
    responsibility, we strive to empower Sudanese individuals to thrive in
    Sweden. Our society actively contributes to the community, providing support
    and resources to help members connect, grow, and contribute meaningfully to
    Swedish society.
  </div>
</section>

<style>
  .about-us {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes divs to the left and right edges */
    padding: 0 5vw; /* Adds padding on the sides to prevent divs from touching the edges */
    flex-direction: row;
    background-image: url('/public/about3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .abouttitle {
    width: 25%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.3rem;

    /* Center the text inside each div */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 20px;
  }
</style>
