<section id='home' class='hero'>
  <h1>SUDANESE SOCIETY IN SWEDEN</h1>
  <p>
    Bridging cultures, empowering communities, celebrating Sudanese heritage in
    Sweden.
  </p>
</section>

<style>
  .hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #ffdef5;
    margin: 0;
    background-image: url('/public/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 3rem;
    color: white;
    font-size: 5rem;
    position: relative;
    top: 17%;
    text-align: center;
  }

  p {
    font-size: 1rem;
    color: white;
    font-size: 5rem;
    position: relative;
    top: 15%;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
  }
</style>
